Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

Update README.md
  README.md
Labels: documentation

Update README.md (#373)
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md (#374)
  README.md
Labels: documentation

chore: yubikey-tool init refactor
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: yubikey-tool init refactor (#375)
  scripts/bin/yubikey-tool.ps1
Labels: none

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile (#376)
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

chore: bugfix /etc/wsl.conf (#377)
  Dockerfile
Labels: core

Update yubikey-tool.ps1
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: remove --ssh NamedPipe (#378)
  scripts/bin/yubikey-tool.ps1
Labels: none

fix: SSH_AUTH_SOCK env bashrc.d to systemd env
  mise.toml
  scripts/bin/setup.sh
Labels: none

fix: SSH_AUTH_SOCK env bashrc.d to systemd env (#379)
  mise.toml
  scripts/bin/setup.sh
Labels: none

revert: bashrc.d/21-ssh-agent.conf Signed-off-by: naa0yama <9667078+naa0yama@users.noreply.github.com>
  scripts/bin/setup.sh
Labels: none

revert: bashrc.d/21-ssh-agent.conf (#380)
  scripts/bin/setup.sh
Labels: none

feat: vscode server-env-setup to set SSH_AUTH_SOCK Signed-off-by: naa0yama <9667078+naa0yama@users.noreply.github.com>
  scripts/bin/setup.sh
Labels: none

feat: vscode server-env-setup to set SSH_AUTH_SOCK (#381)
  scripts/bin/setup.sh
Labels: none

fix: add RemainAfterExit Signed-off-by: naa0yama <9667078+naa0yama@users.noreply.github.com>
  scripts/bin/setup.sh
Labels: none

fix: add RemainAfterExit (#382)
  scripts/bin/setup.sh
Labels: none

feat: add vscode mise shims Signed-off-by: naa0yama <9667078+naa0yama@users.noreply.github.com>
  scripts/bin/setup.sh
Labels: none

feat: add vscode mise shims (#383)
  scripts/bin/setup.sh
Labels: none

refactor: setup.sh Signed-off-by: naa0yama <9667078+naa0yama@users.noreply.github.com>
  scripts/bin/setup.sh
Labels: none

refactor: setup.sh (#384)
  scripts/bin/setup.sh
Labels: none

Update fish shell execution to use login option
  Dockerfile
Labels: core

Modify dotter entry and fish exec command in README
  README.md
Labels: documentation

Update fish shell execution to use login option (#385)
  Dockerfile
  README.md
Labels: core, documentation

Delete .bashrc.d/devtool/31-gitconfig-copy.sh
  .bashrc.d/devtool/31-gitconfig-copy.sh
Labels: none

feat: lefthook to .githooks
  .githooks/commit-msg
  .githooks/pre-commit
  .githooks/pre-push
  lefthook.yml
  mise.toml
Labels: none

Delete .bashrc.d/devtool/31-gitconfig-copy.sh (#386)
  .bashrc.d/devtool/31-gitconfig-copy.sh
  .githooks/commit-msg
  .githooks/pre-commit
  .githooks/pre-push
  lefthook.yml
  mise.toml
Labels: none

Add 'pass' package to Dockerfile
  Dockerfile
Labels: core

Add 'pass' package to Dockerfile (#390)
  Dockerfile
Labels: core

Remove 'pass' package from Dockerfile
  Dockerfile
Labels: core

Remove 'pass' package from Dockerfile (#391)
  Dockerfile
Labels: core

chore: update backup exclude list with build artifacts
  scripts/bin/backup.sh
Labels: none

chore: update backup exclude list with build artifacts (#393)
  scripts/bin/backup.sh
Labels: none

Create label-sync.yaml
  .github/workflows/label-sync.yaml
Labels: github_actions

Create labels.json
  .github/labels.json
Labels: github_actions

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]
