Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

ci(vm-boot-test): scope apt retry config to guest, fix stale MTU comment
  .github/workflows/build.yml
  docs/specs/ci/vm-boot-test.md
  tests/vm/user-data.yaml
Labels: github_actions, documentation, tests

ci: stream qemu console.log live during boot wait
  .github/workflows/build.yml
  docs/specs/ci/vm-boot-test.md
Labels: github_actions, documentation

fix(provision): guarantee apt-get update timeout actually kills
  docs/specs/ci/vm-boot-test.md
  scripts/provision/system/10-apt-base.sh
Labels: documentation

ci(vm-boot-test): replace qemu KVM boot job with LXC bootstrap test
  .github/workflows/build.yml
  scripts/image/series-map.sh
  scripts/provision/bootstrap.sh
  tests/bats/series-map.bats
  tests/vm/user-data.yaml
Labels: github_actions, tests

docs(ci): document LXC bootstrap test replacing qemu KVM verification
  docs/adr/archive/0007/vm-bootstrap-oneliner-20260722.md
  docs/adr/latest/0003-ubuntu-two-paths.md
  docs/adr/latest/0005-qcow2-guestmount-chroot.md
  docs/guides/pve-import.md
  docs/specs/ci/vm-boot-test.md
  docs/specs/components/bootstrap.md
Labels: documentation

fix(ci): allow lxdbr0 forwarding blocked by Docker's iptables policy
  .github/workflows/build.yml
Labels: github_actions

ci: replace qemu KVM boot test with LXC bootstrap test (#449)
  .github/workflows/build.yml
  docs/adr/archive/0007/vm-bootstrap-oneliner-20260722.md
  docs/adr/latest/0003-ubuntu-two-paths.md
  docs/adr/latest/0005-qcow2-guestmount-chroot.md
  docs/guides/pve-import.md
  docs/specs/ci/vm-boot-test.md
  docs/specs/components/bootstrap.md
  scripts/image/series-map.sh
  scripts/provision/bootstrap.sh
  scripts/provision/system/10-apt-base.sh
  tests/bats/series-map.bats
  tests/vm/user-data.yaml
Labels: github_actions, documentation, tests

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]
