Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]

Update devtool.ps1
  devtool.ps1
Labels: none

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile (#215)
  Dockerfile
  devtool.ps1
Labels: core

fix: encode type UTF-8 BOM
  devtool.ps1
Labels: none

fix: encode type UTF-8 BOM (#216)
  devtool.ps1
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md (#217)
  README.md
Labels: documentation

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile (#218)
  Dockerfile
Labels: core

Update devtool.ps1
  devtool.ps1
Labels: none

Update devtool.ps1
  devtool.ps1
Labels: none

Naa0yama patch 1 (#224)
  devtool.ps1
Labels: none

Update Dockerfile
  Dockerfile
Labels: core

Add: git-secrets (#244)
  Dockerfile
Labels: core

fix: Modify the copy of .gitconfig after restoring
  Dockerfile
Labels: core

fix: Modify the copy of .gitconfig after restoring (#245)
  Dockerfile
Labels: core

chore: remove biome
  Dockerfile
  README.md
  renovate.json
Labels: core, documentation, renovate

refactor: add lefthook
  .github/release.yml
  .github/workflows/build.yml
  Dockerfile
  README.md
  dprint.jsonc
  lefthook.yml
  renovate.json
Labels: core, github_actions, documentation, renovate

fix: lefthook.yml
  lefthook.yml
Labels: none

chore: remove biome (#268)
  .github/release.yml
  .github/workflows/build.yml
  Dockerfile
  README.md
  dprint.jsonc
  lefthook.yml
  renovate.json
Labels: core, github_actions, documentation, renovate

chore: add bash-completion
  Dockerfile
Labels: core

chore: add bash-completion (#270)
  Dockerfile
Labels: core

chore: add tmux deps
  Dockerfile
Labels: core

chore: add tmux deps (#276)
  Dockerfile
Labels: core

chore: autoupdate enabled
  Dockerfile
  renovate.json
Labels: core, renovate

chore: autoupdate enabled (#279)
  Dockerfile
  renovate.json
Labels: core, renovate

Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: github_actions

chore: add no-cache option
  .github/workflows/build.yml
  Dockerfile
Labels: core, github_actions

Update pr-labeler.yml (#285)
  .github/workflows/build.yml
  .github/workflows/pr-labeler.yml
  Dockerfile
Labels: core, github_actions

chore: cache optimiz
  Dockerfile
Labels: core

chore: remove push
  .github/workflows/build.yml
Labels: github_actions

chore: cache optimiz (#286)
  .github/workflows/build.yml
  Dockerfile
Labels: core, github_actions

Modify user creation process in Dockerfile
  Dockerfile
Labels: core

Modify user creation process in Dockerfile (#335)
  Dockerfile
Labels: core

chore: add package gnupg, socat
  Dockerfile
Labels: core

chore: add copy .gitconfig.d
  Dockerfile
Labels: core

chore: add agents.relay.sh
  Dockerfile
  scripts/bin/agents-relay.sh
  scripts/bin/backup.sh
  scripts/bin/restore.sh
  scripts/bin/systemd/user/agents-relay.service
Labels: core

chore: supported WSL2 and Linux
  scripts/bin/agents-relay.sh
Labels: none

chore: add pre-release
  .github/workflows/build.yml
Labels: github_actions
