Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]

feat(provision): add 40-mise-config.sh with seam-α tests (Cycle 5c)
  scripts/provision/files/mise-config.toml
  scripts/provision/user/40-mise-config.sh
  tests/bats/provision-user-40-mise-config.bats
Labels: tests

feat(provision): add provision-chroot.sh with seam-β tests (Cycle 6)
  scripts/image/provision-chroot.sh
  tests/bats/image-provision-chroot.bats
Labels: tests

feat(bootstrap): add stage 0 self-download and provision asset fetch (Cycle 7)
  scripts/provision/bootstrap.sh
  tests/bats/bootstrap-stage0-self-download.bats
  tests/bats/fixtures/devtool-provision.tar.gz
Labels: tests

feat(bootstrap): add phase 2 user layer with seam-α tests (Cycle 9)
  scripts/provision/bootstrap.sh
  tests/bats/bootstrap-phase2-user.bats
Labels: tests

feat(bootstrap): add phase 1 system layer with seam-β tests (Cycle 8)
  scripts/provision/bootstrap.sh
  tests/bats/bootstrap-phase1-system.bats
Labels: tests

feat(ci): add release.yml to package and upload provision assets
  .github/workflows/release.yml
Labels: github_actions

feat(docker): migrate Dockerfile to provision loop layout
  Dockerfile
  tests/bats/dockerfile-provision.bats
Labels: core, tests

feat(ci): migrate qcow2.yml to guestmount+chroot with provision env fix
  .github/workflows/qcow2.yml
  scripts/image/provision-chroot.sh
  tests/bats/image-provision-chroot.bats
  tests/bats/qcow2-workflow.bats
Labels: github_actions, tests

docs: update pve-import, add bare-ubuntu guide and bootstrap spec (ADR-0006)
  docs/guides/bare-ubuntu.md
  docs/guides/pve-import.md
  docs/specs/components/bootstrap.md
  tests/bats/docs-link-check.bats
Labels: documentation, tests

fix(provision): address code-reviewer P1 findings (password lock, files/ layout, stage0 dead code, bats assertion)
  Dockerfile
  scripts/provision/bootstrap.sh
  scripts/provision/files/bashrc.d/devtool/05-path.sh
  scripts/provision/files/bashrc.d/devtool/10-mise.sh
  scripts/provision/files/bashrc.d/devtool/21-devtool-wsl2.sh
  scripts/provision/system/15-user.sh
  scripts/provision/user/20-bashrc.sh
  tests/bats/bootstrap-phase2-user.bats
  tests/bats/bootstrap-stage0-self-download.bats
  tests/bats/provision-system-15-user.bats
Labels: core, tests

fix(provision): address code-reviewer P1/P2/P3 findings (password lock test, trace opt-in, PROVISION_ROOT unify)
  scripts/provision/bootstrap.sh
  scripts/provision/system/10-apt-base.sh
  scripts/provision/system/15-user.sh
  scripts/provision/system/20-docker-engine.sh
  scripts/provision/system/40-cleanup-ubuntu.sh
  scripts/provision/system/40-fish.sh
  scripts/provision/system/60-wsl-conf.sh
  scripts/provision/user/10-mise-install.sh
  scripts/provision/user/20-bashrc.sh
  scripts/provision/user/30-fish-config.sh
  scripts/provision/user/40-mise-config.sh
  tests/bats/bootstrap-stage0-self-download.bats
  tests/bats/provision-system-15-user.bats
Labels: tests

docs(adr): add ADR-0006 common bootstrap + vestibule user pattern
  docs/adr/latest/0006-common-bootstrap-vestibule-user.md
Labels: documentation

fix(ci): align Bootstrap Path B env with DEVTOOL_SRC_ROOT and drop obsolete bats
  .github/workflows/bootstrap.yml
  tests/bats/image-provision-chroot.bats
  tests/bats/qcow2-workflow.bats
Labels: github_actions, tests

fix(qcow2): purge snapd before apt upgrade in vm env
  scripts/provision/system/10-apt-base.sh
Labels: none

fix(qcow2): purge snapd before apt upgrade in vm env (#434)
  scripts/provision/system/10-apt-base.sh
Labels: none

fix(provision): switch _run_as_user to sudo -u to avoid login-shell exec
  scripts/provision/bootstrap.sh
Labels: none

fix(provision): qcow2 chroot fixes (snapd purge + sudo -u exec) (#435)
  scripts/provision/bootstrap.sh
Labels: none

fix(provision): drop env(1) from sudo call, use inline VAR=val + absolute bash
  scripts/provision/bootstrap.sh
Labels: none

fix(provision): drop env(1) from sudo call in _run_as_user (#436)
  scripts/provision/bootstrap.sh
Labels: none

fix(provision): exec /usr/bin/bash for sudo run_as_user + trace
  .github/workflows/qcow2.yml
  scripts/image/provision-chroot.sh
  scripts/provision/bootstrap.sh
Labels: github_actions

ci(bats): inject MISE_GITHUB_TOKEN and pin stable mise tools
  .github/workflows/bats.yml
  mise.toml
Labels: github_actions

docs(dockerfile): translate WHY-NOT comments to english
  Dockerfile
Labels: core

fix(provision): exec /usr/bin/bash for sudo run_as_user + chroot trace (#437)
  .github/workflows/bats.yml
  .github/workflows/qcow2.yml
  Dockerfile
  mise.toml
  scripts/image/provision-chroot.sh
  scripts/provision/bootstrap.sh
Labels: core, github_actions

chore(comments): translate code comments to English
  devtool.ps1
  scripts/bin/setup.sh
  scripts/image/finalize.sh
  scripts/image/provision-chroot.sh
  scripts/provision/bootstrap.sh
  scripts/provision/system/15-user.sh
  scripts/provision/user/20-bashrc.sh
  scripts/provision/user/30-fish-config.sh
  scripts/provision/user/40-mise-config.sh
  tests/bats/dockerfile-provision.bats
Labels: tests

chore(ci): shorten qcow2 workflow names and translate comments
  .github/workflows/qcow2.yml
Labels: github_actions

chore: add post-checkout hook and .gitignore
  .githooks/post-checkout
  .gitignore
Labels: none

chore: translate code comments to English and add repo hygiene files (#441)
  .githooks/post-checkout
  .github/workflows/qcow2.yml
  .gitignore
  devtool.ps1
  scripts/bin/setup.sh
  scripts/image/finalize.sh
  scripts/image/provision-chroot.sh
  scripts/provision/bootstrap.sh
  scripts/provision/system/15-user.sh
  scripts/provision/user/20-bashrc.sh
  scripts/provision/user/30-fish-config.sh
  scripts/provision/user/40-mise-config.sh
  tests/bats/dockerfile-provision.bats
Labels: github_actions, tests

fix(provision): use runuser for qcow2 chroot user-layer exec
  scripts/provision/bootstrap.sh
Labels: none

fix(provision): use runuser for qcow2 chroot user-layer exec (#444)
  scripts/provision/bootstrap.sh
Labels: none

docs(adr): archive ADR-0003/0005, add ADR-0007 for VM bootstrap
  docs/adr/archive/0003/ubuntu-two-paths-20260722.md
  docs/adr/archive/0005/qcow2-guestmount-chroot-20260722.md
  docs/adr/latest/0003-ubuntu-two-paths.md
  docs/adr/latest/0004-fixed-user-bake-in.md
  docs/adr/latest/0005-qcow2-guestmount-chroot.md
  docs/adr/latest/0007-vm-bootstrap-oneliner.md
Labels: documentation

feat(ci): replace qcow2 guestmount build with KVM boot test
  .github/workflows/bats.yml
  .github/workflows/build.yml
  .github/workflows/qcow2.yml
  .github/workflows/release.yml
  scripts/bin/setup.sh
  scripts/image/finalize.sh
  scripts/image/provision-chroot.sh
  scripts/image/series-map.sh
  scripts/provision/bootstrap.sh
  scripts/provision/system/10-apt-base.sh
  scripts/provision/system/15-user.sh
  tests/bats/bootstrap-src-url.bats
  tests/bats/finalize-scope.bats
  tests/bats/qcow2-cleanup-trap.bats
  tests/bats/qcow2-provision-chroot.bats
  tests/bats/series-map.bats
  tests/vm/user-data.yaml
  tests/vm/verify.sh
Labels: github_actions, tests

docs: update guides/specs for stock-image bootstrap distribution
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  docs/guides/bare-ubuntu.md
  docs/guides/pve-import.md
  docs/specs/architecture/multi-target-provisioning.md
  docs/specs/ci/vm-boot-test.md
  docs/specs/components/bootstrap.md
  docs/specs/components/qcow2-build.md
  tests/README.md
  tests/bats/docs-link-check.bats
Labels: documentation, tests

ci: replace qcow2 guestmount build with bootstrap.sh + KVM boot test (#448)
  .github/workflows/bats.yml
  .github/workflows/build.yml
  .github/workflows/qcow2.yml
  .github/workflows/release.yml
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  docs/adr/archive/0003/ubuntu-two-paths-20260722.md
  docs/adr/archive/0005/qcow2-guestmount-chroot-20260722.md
  docs/adr/latest/0003-ubuntu-two-paths.md
  docs/adr/latest/0004-fixed-user-bake-in.md
  docs/adr/latest/0005-qcow2-guestmount-chroot.md
  docs/adr/latest/0007-vm-bootstrap-oneliner.md
  docs/guides/bare-ubuntu.md
  docs/guides/pve-import.md
  docs/specs/architecture/multi-target-provisioning.md
  docs/specs/ci/vm-boot-test.md
  docs/specs/components/bootstrap.md
  docs/specs/components/qcow2-build.md
  scripts/bin/setup.sh
  scripts/image/finalize.sh
  scripts/image/provision-chroot.sh
  scripts/image/series-map.sh
  scripts/provision/bootstrap.sh
  scripts/provision/system/10-apt-base.sh
  scripts/provision/system/15-user.sh
  tests/README.md
  tests/bats/bootstrap-src-url.bats
  tests/bats/docs-link-check.bats
  tests/bats/finalize-scope.bats
  tests/bats/qcow2-cleanup-trap.bats
  tests/bats/qcow2-provision-chroot.bats
  tests/bats/series-map.bats
  tests/vm/user-data.yaml
  tests/vm/verify.sh
Labels: github_actions, documentation, tests

fix(ci): mitigate kvm-test network stall and cache export failure
  .github/workflows/build.yml
  tests/vm/user-data.yaml
Labels: github_actions, tests

fix(ci): mitigate kvm-test network stall and cache export failure
  .github/workflows/build.yml
  tests/vm/user-data.yaml
Labels: github_actions, tests

fix(ci): use guest series codename in net-probe URL
  tests/vm/user-data.yaml
Labels: tests

docs(ci): document MTU 1280 fix and net-probe step
  docs/specs/ci/vm-boot-test.md
Labels: documentation

fix(ci): move kvm-test guest MTU to virtio-net host_mtu property
  .github/workflows/build.yml
  docs/specs/ci/vm-boot-test.md
Labels: github_actions, documentation

ci(kvm-test): add host-side probe to isolate bulk-fetch stalls
  .github/workflows/build.yml
  docs/specs/ci/vm-boot-test.md
Labels: github_actions, documentation

fix(provision): retry apt-get update with timeout on network stalls
  scripts/provision/system/10-apt-base.sh
Labels: none
