Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

fmt .too-versions
  .tool-versions
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

feat: fmt tool-versions and Dockerfile (#32)
  .tool-versions
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile (#36)
  Dockerfile
Labels: core

Update release.yml
  .github/release.yml
Labels: github_actions

Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: github_actions

Update release.yml (#39)
  .github/release.yml
  .github/workflows/pr-labeler.yml
Labels: github_actions

Add: asdf add golang
  Dockerfile
Labels: core

add: golan 1.23.1
  .tool-versions
Labels: core

add: version control
  Dockerfile
  renovate.json
Labels: core, renovate

add: ASDF_VERSION to renovate
  Dockerfile
  renovate.json
Labels: core, renovate

Dev/add version control biome and wsl2agent (#62)
  Dockerfile
  renovate.json
Labels: core, renovate

fix: pattern
  renovate.json
Labels: renovate

fix: pattern (#63)
  renovate.json
Labels: renovate

Update renovate.json
  renovate.json
Labels: renovate

Update renovate.json (#64)
  renovate.json
Labels: renovate

Add: create .ssh directory
  Dockerfile
Labels: core

Add: create .ssh directory (#71)
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Remove: fish-shell and asdf-vm 'asdf update' (#148)
  Dockerfile
Labels: core

Update build.yml
  .github/workflows/build.yml
Labels: github_actions

Update build.yml (#155)
  .github/workflows/build.yml
Labels: github_actions

dump: asdf-vm 0.14 to 0.16
  Dockerfile
Labels: core

Update devtool.ps1
  devtool.ps1
Labels: none

Update devtool.ps1 (#181)
  devtool.ps1
Labels: none

add: auto .gitconfig copy from Windows
  Dockerfile
Labels: core

add: auto .gitconfig copy from Windows (#195)
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

add: restore dump
  Dockerfile
Labels: core

add: auto backup
  devtool.ps1
Labels: none

Update Dockerfile (#213)
  Dockerfile
  devtool.ps1
Labels: core

Update devtool.ps1
  devtool.ps1
Labels: none

Update Dockerfile
  Dockerfile
Labels: core

Update devtool.ps1
  devtool.ps1
Labels: none

Update devtool.ps1 (#214)
  Dockerfile
  devtool.ps1
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]
