Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]

Create label-sync.yaml (#394)
  .github/labels.json
  .github/workflows/label-sync.yaml
Labels: github_actions

feat: add Set-WslConfig to configure default VHD size
  devtool.ps1
Labels: none

feat: add Set-WslConfig to configure default VHD size (#398)
  devtool.ps1
Labels: none

feat(Dockerfile): add docker-cleanup systemd timer
  Dockerfile
Labels: core

feat(setup): add cargo-sweep systemd user timer
  mise.toml
  scripts/bin/setup.sh
Labels: none

docs: remove aws-sam-cli from mise tools table
  README.md
Labels: documentation

feat: add disk cleanup systemd timers for Docker and Rust (#400)
  Dockerfile
  README.md
  mise.toml
  scripts/bin/setup.sh
Labels: core, documentation

Update Dockerfile base image and platform specification
  Dockerfile
Labels: core

Update WSL exec command to change directory
  devtool.ps1
Labels: none

Update WSL exec command to change directory (#405)
  devtool.ps1
Labels: none

feat(setup): move docker-cleanup timer and bashrc loader to setup.sh
  Dockerfile
  README.md
  scripts/bin/setup.sh
Labels: core, documentation

feat(setup): move docker-cleanup timer and bashrc loader to setup.sh (#406)
  Dockerfile
  README.md
  scripts/bin/setup.sh
Labels: core, documentation

docs(specs): scaffold multi-target spec and ADR skeletons
  docs/adr/latest/0001-nixos-migration-rejected.md
  docs/adr/latest/0002-isolation-strategy-tiered.md
  docs/adr/latest/0003-ubuntu-two-paths.md
  docs/adr/latest/0004-fixed-user-bake-in.md
  docs/specs/architecture/multi-target-provisioning.md
  docs/specs/components/bootstrap.md
  docs/specs/components/provision-scripts.md
  docs/specs/components/qcow2-build.md
  docs/specs/subcommands/setup-modes.md
  docs/specs/testing/bats-strategy.md
Labels: documentation

feat(provision): extract apt base setup to system/10-apt-base.sh
  scripts/provision/system/10-apt-base.sh
Labels: none

feat(provision): extract docker engine setup to system/20-docker-engine.sh
  scripts/provision/system/20-docker-engine.sh
Labels: none

feat(provision): extract fish install to system/40-fish.sh
  scripts/provision/system/40-fish.sh
Labels: none

feat(provision): extract mise install to system/30-mise.sh
  scripts/provision/system/30-mise.sh
Labels: none

feat(provision): extract user creation to system/50-user.sh
  scripts/provision/system/50-user.sh
Labels: none

feat(provision): extract wsl.conf and devtool-release to system/60-wsl-conf.sh
  scripts/provision/system/60-wsl-conf.sh
Labels: none

refactor(dockerfile): thin wrapper over provision scripts
  Dockerfile
Labels: core

feat(provision): extract user layer to provision/user/*.sh
  scripts/provision/user/10-bashrc.sh
  scripts/provision/user/20-bashrc-devtool.sh
  scripts/provision/user/30-fish-config.sh
Labels: none

test(provision): add bats test infrastructure for system layer
  mise.toml
  scripts/provision/system/50-user.sh
  tests/README.md
  tests/bats/.gitignore
  tests/bats/provision-system.bats
  tests/helpers/common.bash
  tests/helpers/setup-bats-libs.sh
Labels: tests

fix(provision): tolerate yes SIGPIPE when unminimize consumes input
  scripts/provision/system/10-apt-base.sh
Labels: none

fix(provision): expand CURL_OPTS as array to avoid single-argument pass
  scripts/provision/system/20-docker-engine.sh
  scripts/provision/system/30-mise.sh
Labels: none

fix(provision): correct PROVISION_ROOT path depth in 20-bashrc-devtool.sh
  scripts/provision/user/20-bashrc-devtool.sh
Labels: none

refactor(provision): address code review medium findings
  scripts/provision/system/50-user.sh
  scripts/provision/system/60-wsl-conf.sh
  scripts/provision/user/30-fish-config.sh
Labels: none

feat(provision): add bootstrap.sh dispatcher for path B
  scripts/provision/bootstrap.sh
Labels: none

feat(provision): add environment detection and seam-2 tests
  scripts/provision/bootstrap.sh
  tests/bats/bootstrap-env-detect.bats
Labels: tests

ci: add bats and bootstrap workflows for path B
  .github/workflows/bats.yml
  .github/workflows/bootstrap.yml
Labels: github_actions

feat(image): add finalize.sh for qcow2 golden image post-processing
  scripts/image/finalize.sh
Labels: none

ci(qcow2): add workflow_dispatch qcow2 golden image build
  .github/workflows/qcow2.yml
Labels: github_actions

test(image): add finalize-scope.bats for seam-3
  tests/bats/finalize-scope.bats
Labels: tests

docs(guides): add PVE qcow2 import procedure
  docs/guides/pve-import.md
Labels: documentation

fix(ci): correct noble ubuntu version comment and pin upload-artifact
  .github/workflows/qcow2.yml
Labels: github_actions

feat(setup): add detect_setup_mode for wsl2/vm/remote triage
  scripts/bin/setup.sh
Labels: none

feat(setup): dispatch vm mode with cleanup timers
  scripts/bin/setup.sh
Labels: none

test(setup): add setup-mode.bats and source-guard main
  scripts/bin/setup.sh
  tests/bats/setup-mode.bats
Labels: tests

fix(setup): fail fast on unknown setup mode
  scripts/bin/setup.sh
Labels: none

docs(readme): document 3 provisioning paths and mode dispatch
  README.md
Labels: documentation

ci(qcow2): attach golden image to release assets
  .github/workflows/qcow2.yml
Labels: github_actions
