Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

feat: multi-target provisioning (Phase 1 + 2) (#421)
  .github/workflows/bats.yml
  .github/workflows/bootstrap.yml
  .github/workflows/qcow2.yml
  Dockerfile
  README.md
  docs/adr/latest/0001-nixos-migration-rejected.md
  docs/adr/latest/0002-isolation-strategy-tiered.md
  docs/adr/latest/0003-ubuntu-two-paths.md
  docs/adr/latest/0004-fixed-user-bake-in.md
  docs/guides/pve-import.md
  docs/specs/architecture/multi-target-provisioning.md
  docs/specs/components/bootstrap.md
  docs/specs/components/provision-scripts.md
  docs/specs/components/qcow2-build.md
  docs/specs/subcommands/setup-modes.md
  docs/specs/testing/bats-strategy.md
  mise.toml
  scripts/bin/setup.sh
  scripts/image/finalize.sh
  scripts/provision/bootstrap.sh
  scripts/provision/system/10-apt-base.sh
  scripts/provision/system/20-docker-engine.sh
  scripts/provision/system/30-mise.sh
  scripts/provision/system/40-fish.sh
  scripts/provision/system/50-user.sh
  scripts/provision/system/60-wsl-conf.sh
  scripts/provision/user/10-bashrc.sh
  scripts/provision/user/20-bashrc-devtool.sh
  scripts/provision/user/30-fish-config.sh
  tests/README.md
  tests/bats/.gitignore
  tests/bats/bootstrap-env-detect.bats
  tests/bats/finalize-scope.bats
  tests/bats/provision-system.bats
  tests/bats/setup-mode.bats
  tests/helpers/common.bash
  tests/helpers/setup-bats-libs.sh
Labels: core, github_actions, documentation, tests

fix(ci): force LIBGUESTFS_BACKEND=direct on qcow2 build
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): force LIBGUESTFS_BACKEND=direct on qcow2 build (#422)
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): install passt explicitly and enable libguestfs debug
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): install passt explicitly and enable libguestfs debug (#425)
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): set passt apparmor profile to complain mode
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): set passt apparmor profile to complain mode (#426)
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): shadow passt to force libguestfs slirp fallback
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): shadow passt to force libguestfs slirp fallback (#427)
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): place passt shadow in sudoers secure_path
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): place passt shadow in sudoers secure_path (#428)
  .github/workflows/qcow2.yml
Labels: github_actions

feat(ci)!: migrate qcow2 base to Ubuntu 26.04 resolute + fix appliance DNS
  .github/workflows/qcow2.yml
  docs/guides/pve-import.md
Labels: github_actions, documentation

feat(qcow2): add seam-1 series-map.sh with bats tests (Cycle 1)
  scripts/image/series-map.sh
  tests/bats/qcow2-series-mapping.bats
Labels: tests

feat(qcow2): add seam-2 provision-chroot bind mount skeleton (Cycle 2)
  scripts/image/provision-chroot.sh
  tests/bats/qcow2-provision-chroot.bats
Labels: tests

feat(qcow2): add seam-3 cleanup trap with idempotency (Cycle 3)
  scripts/image/provision-chroot.sh
  tests/bats/qcow2-cleanup-trap.bats
  tests/bats/qcow2-provision-chroot.bats
Labels: tests

feat(qcow2): add chroot exec with resolv-symlink purity guard (Cycle 4)
  scripts/image/provision-chroot.sh
  tests/bats/qcow2-provision-chroot.bats
Labels: tests

feat(qcow2): add matrix noble+resolute with guestmount+chroot (Cycle 5)
  .github/workflows/qcow2.yml
Labels: github_actions

feat(qcow2): matrix noble+resolute with guestmount+chroot provisioning (#430)
  .github/workflows/qcow2.yml
  scripts/image/provision-chroot.sh
  scripts/image/series-map.sh
  tests/bats/qcow2-cleanup-trap.bats
  tests/bats/qcow2-provision-chroot.bats
  tests/bats/qcow2-series-mapping.bats
Labels: github_actions, tests

fix(ci): free ~40GB on runner before qcow2 provisioning
  .github/workflows/qcow2.yml
  docs/adr/latest/0005-qcow2-guestmount-chroot.md
Labels: github_actions, documentation

fix(ci): free ~40GB on runner before qcow2 provisioning (#431)
  .github/workflows/qcow2.yml
  docs/adr/latest/0005-qcow2-guestmount-chroot.md
Labels: github_actions, documentation

fix(ci): resize guest image, trim caches, report qcow2/guest sizes
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): resize guest image, trim caches, report qcow2/guest sizes (#432)
  .github/workflows/qcow2.yml
Labels: github_actions

feat(image): add finalize.sh for qcow2 golden image post-processing
  scripts/image/finalize.sh
Labels: none

test(image): add finalize-scope.bats for seam-3
  tests/bats/finalize-scope.bats
Labels: tests

ci(qcow2): add workflow_dispatch qcow2 golden image build
  .github/workflows/qcow2.yml
Labels: github_actions

docs(guides): add PVE qcow2 import procedure
  docs/guides/pve-import.md
Labels: documentation

fix(ci): correct noble ubuntu version comment and pin upload-artifact
  .github/workflows/qcow2.yml
Labels: github_actions

feat(setup): add detect_setup_mode for wsl2/vm/remote triage
  scripts/bin/setup.sh
Labels: none

feat(setup): dispatch vm mode with cleanup timers
  scripts/bin/setup.sh
Labels: none

test(setup): add setup-mode.bats and source-guard main
  scripts/bin/setup.sh
  tests/bats/setup-mode.bats
Labels: tests

docs(readme): document 3 provisioning paths and mode dispatch
  README.md
Labels: documentation

fix(setup): fail fast on unknown setup mode
  scripts/bin/setup.sh
Labels: none

ci(qcow2): attach golden image to release assets
  .github/workflows/qcow2.yml
Labels: github_actions

fix(ci): force LIBGUESTFS_BACKEND=direct on qcow2 build
  .github/workflows/qcow2.yml
Labels: github_actions

feat(provision): add 15-user.sh with parameterized shell, replace 50-user.sh
  scripts/provision/system/15-user.sh
  scripts/provision/system/50-user.sh
  tests/bats/provision-system-15-user.bats
Labels: tests

test(provision): add seam-β tests for 20-docker-engine.sh; add dpkg guard
  scripts/provision/system/20-docker-engine.sh
  tests/bats/provision-system-20-docker-engine.bats
Labels: tests

feat(provision): add 40-cleanup-ubuntu.sh with seam-β tests (Cycle 3)
  scripts/provision/system/40-cleanup-ubuntu.sh
  tests/bats/provision-system-40-cleanup-ubuntu.bats
Labels: tests

feat(provision): add 10-mise-install.sh with seam-α tests (Cycle 4)
  scripts/provision/system/30-mise.sh
  scripts/provision/user/10-mise-install.sh
  tests/bats/provision-user-10-mise-install.bats
Labels: tests

feat(provision): add 20-bashrc.sh with seam-α tests (Cycle 5a)
  Dockerfile
  scripts/provision/files/bashrc
  scripts/provision/user/10-bashrc.sh
  scripts/provision/user/20-bashrc-devtool.sh
  scripts/provision/user/20-bashrc.sh
  tests/bats/provision-user-20-bashrc.bats
Labels: core, tests

feat(provision): add 30-fish-config.sh with seam-α tests (Cycle 5b)
  scripts/provision/files/config.fish
  scripts/provision/files/fish_prompt.fish
  scripts/provision/user/30-fish-config.sh
  tests/bats/provision-user-30-fish-config.bats
Labels: tests

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]
