Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]

Update README.md
  README.md
Labels: documentation

Update README.md (#357)
  README.md
Labels: documentation

chore: bugfix: backup.sh
  scripts/bin/backup.sh
Labels: none

chore: add fish
  Dockerfile
Labels: core

chore: bugfix backup.sh
  scripts/bin/backup.sh
Labels: none

chore: fish config.fish
  .bashrc.d/devtool/10-mise.sh
  Dockerfile
Labels: core

chore bugfix
  Dockerfile
Labels: core

chore: fix path
  .bashrc.d/devtool/10-mise.sh
  Dockerfile
Labels: core

chore: remove pre-install mise
  .bashrc.d/devtool/10-mise.sh
  Dockerfile
  mise.toml
Labels: core

chore: fix source ~/.bashrc.d load
  Dockerfile
Labels: core

Update backup.sh
  scripts/bin/backup.sh
Labels: none

Update devtool.ps1
  devtool.ps1
Labels: none

chore: mise settings
  .bashrc.d/devtool/10-mise.sh
  Dockerfile
Labels: core

chore: fmt and maintenance
  Dockerfile
  README.md
  mise.toml
Labels: core, documentation

Add fish (#358)
  .bashrc.d/devtool/10-mise.sh
  Dockerfile
  README.md
  devtool.ps1
  mise.toml
  scripts/bin/backup.sh
Labels: core, documentation

chore: fix bashrc
  Dockerfile
Labels: core

chore: fix hungup
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: fix bashrc and yubikey-tool.ps1 hungup (#359)
  Dockerfile
  scripts/bin/yubikey-tool.ps1
Labels: core

chore: setup.sh and README
  README.md
  scripts/bin/setup.sh
Labels: documentation

chore: setup.sh and README (#360)
  README.md
  scripts/bin/setup.sh
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md (#361)
  README.md
Labels: documentation

chore: fix remote ssh restart
  scripts/bin/setup.sh
Labels: none

chore: fix remote ssh restart (#362)
  scripts/bin/setup.sh
Labels: none

Update restore.sh
  scripts/bin/restore.sh
Labels: none

Add: restore.sh to .dwsl2-restore.lock (#363)
  scripts/bin/restore.sh
Labels: none

Update setup.sh
  scripts/bin/setup.sh
Labels: none

Update setup.sh (#364)
  scripts/bin/setup.sh
Labels: none

chore: ass .ssh/rc agent.sock static
  .bashrc.d/devtool/31-gitconfig-copy.sh
  scripts/bin/setup.sh
Labels: none

chore: ass .ssh/rc agent.sock static (#365)
  .bashrc.d/devtool/31-gitconfig-copy.sh
  scripts/bin/setup.sh
Labels: none

Update mise.toml
  mise.toml
Labels: none

chore: fix stop-agents
  CLAUDE.md
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: remove dotter, add chezmoi
  mise.toml
Labels: none

chore: fix stop agents (#368)
  CLAUDE.md
  mise.toml
  scripts/bin/yubikey-tool.ps1
Labels: none

fix: resolve UI thread blocking in yubikey-tool tray menu
  scripts/bin/yubikey-tool.ps1
Labels: none

fix: resolve UI thread blocking in yubikey-tool tray menu (#369)
  scripts/bin/yubikey-tool.ps1
Labels: none

Update yubikey-tool.ps1
  scripts/bin/yubikey-tool.ps1
Labels: none

Add NamedPipe to gpg-bridge (#371)
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: devcontainer fix userEnvProbe
  Dockerfile
Labels: core

chore: devcontainer fix userEnvProbe (#372)
  Dockerfile
Labels: core
