Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

chore: add tag mode
  devtool.ps1
Labels: none

chore: fix fmt
  devtool.ps1
Labels: none

chore: bug fix
  Dockerfile
Labels: core

chore: bash var expand
  scripts/bin/agents-relay.sh
Labels: none

chore: remove debug
  scripts/bin/backup.sh
  scripts/bin/restore.sh
Labels: none

chore: api ratelimit check
  scripts/bin/agents-relay.sh
Labels: none

chore: bug fix path ceck ant PATH
  scripts/bin/agents-relay.sh
Labels: none

chore: fix backup.sh path
  devtool.ps1
Labels: none

chore: fix rumtime path
  scripts/bin/agents-relay.sh
Labels: none

chore: add .restore-skip
  scripts/bin/restore.sh
Labels: none

chore: dump cach rename
  README.md
  scripts/bin/restore.sh
Labels: documentation

chore: move to ~/.bashrc.d/
  Dockerfile
  scripts/bin/backup.sh
  scripts/bin/restore.sh
Labels: core

chore: bug fix
  Dockerfile
Labels: core

chore: fix syntax
  scripts/bin/backup.sh
  scripts/bin/restore.sh
Labels: none

chore: rename agents-relay to ssh-relay
  Dockerfile
  README.md
  scripts/bin/ssh-relay.sh
  scripts/bin/systemd/user/ssh-relay.service
Labels: core, documentation

chore: remove assh
  .tool-versions
Labels: core

chore: add systemctl mask gpg-agent*
  Dockerfile
Labels: core

chore: add -Tag option
  README.md
Labels: documentation

chore: refactor ssh,gpg-agent
  Dockerfile
  README.md
  scripts/bin/restore.sh
  scripts/bin/setup.sh
  scripts/bin/ssh-relay.sh
  scripts/bin/systemd/user/ssh-relay.service
  scripts/bin/yubikey-tool.ps1
Labels: core, documentation

chore: gpg-agent.sock rm -f to create
  scripts/bin/setup.sh
Labels: none

chore: Add traicon
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: Remove redundant ssh-agent.socket cleanup and add gpg-agent.socket cleanup
  scripts/bin/setup.sh
Labels: none

chore: fix agent-extra-socket
  scripts/bin/setup.sh
Labels: none

chore: showtime 5sec to 15sec
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: remove .local
  scripts/bin/backup.sh
Labels: none

chore: fix remote gpg-agent unmask
  scripts/bin/setup.sh
Labels: none

chore: update setup script for GPG agent relay in remote mode
  scripts/bin/setup.sh
Labels: none

chore: enhance YubiKey tool with improved icon handling and state management
  scripts/bin/yubikey-tool.ps1
Labels: none

chore: refactor scripts to use logging functions instead of echo for better output management
  Dockerfile
  scripts/bin/backup.sh
  scripts/bin/restore.sh
  scripts/bin/setup.sh
Labels: core

chore: add installation command to summary for release and merged PRs
  .github/workflows/build.yml
Labels: github_actions

chore: update installation command formatting in build summary
  .github/workflows/build.yml
Labels: github_actions

chore: add skipBackupAndRestore option to devtool.ps1 and update installation command in build.yml
  .github/workflows/build.yml
  README.md
  devtool.ps1
Labels: github_actions, documentation

chore: fix parameter formatting in devtool.ps1 for consistency
  devtool.ps1
Labels: none

fix: update URL in installation command to use branch reference instead of tag
  .github/workflows/build.yml
Labels: github_actions

refactor: remove unnecessary cleanup of .restore-skip file in Import-WSL function
  devtool.ps1
Labels: none

fix: update git configuration copy logic in Dockerfile for improved user profile handling
  Dockerfile
Labels: core

feat: add tool tips for WSL commands in Main function
  devtool.ps1
Labels: none

feat: update tool tips logging format in Main function
  devtool.ps1
Labels: none

feat: update tool tips for WSL commands in Main function to include 'dwsl2-' prefix
  devtool.ps1
Labels: none

feat: refactor agent management functions for improved process handling
  scripts/bin/yubikey-tool.ps1
Labels: none

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]
