Repository naa0yama/devtool-wsl2, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, tests, renovate

fix: update synopsis in Test-StalePipes function to reflect SSH named pipes check
  scripts/bin/yubikey-tool.ps1
Labels: none

fix: correct spelling errors in README.md and adjust formatting for consistency
  README.md
Labels: documentation

feat: update script paths in Dockerfile and PowerShell script for consistency
  Dockerfile
  devtool.ps1
Labels: core

feat: update software list in README.md to include gpg-bridge and reorder entries
  README.md
Labels: documentation

feat: add integration section for ssh-agent and gpg-agent in README.md
  README.md
Labels: documentation

Replace wsl2-ssh-agent to npiperelay (#338)
  .github/workflows/build.yml
  .tool-versions
  Dockerfile
  README.md
  devtool.ps1
  scripts/bin/backup.sh
  scripts/bin/restore.sh
  scripts/bin/setup.sh
  scripts/bin/yubikey-tool.ps1
Labels: core, github_actions, documentation

refactor: replace echo with logger functions in setup scripts
  scripts/bin/setup.sh
Labels: none

refactor: replace echo with logger functions in setup scripts (#343)
  scripts/bin/setup.sh
Labels: none

feat: add functionality to stop agents in YubiKey tool
  DEVELOPMENT.md
  scripts/bin/yubikey-tool.ps1
Labels: none

feat: add functionality to stop agents when exiting tray menu
  scripts/bin/yubikey-tool.ps1
Labels: none

feat: add extra GPG agent socket for devcontainer forwarding
  scripts/bin/setup.sh
Labels: none

feat: fetch and run latest backup script from main branch in Import-WSL function
  devtool.ps1
Labels: none

feat: update backup script execution method in Import-WSL function
  devtool.ps1
Labels: none

feat: add functionality to copy global .gitignore from Windows
  Dockerfile
Labels: core

feat: update file permissions in WSL configuration add fmask=0133
  Dockerfile
Labels: core

feat: improve logging and handle WSL startup race condition for SSH/GPG agents
  scripts/bin/setup.sh
Labels: none

feat: update permissions for copied git configuration files from Windows
  Dockerfile
Labels: core

Add: Tray Stop Agents and gpg-agent-extra.sock (#344)
  DEVELOPMENT.md
  Dockerfile
  devtool.ps1
  scripts/bin/setup.sh
  scripts/bin/yubikey-tool.ps1
Labels: core

fix: update bashrc.d paths to include 'devtool' directory
  Dockerfile
Labels: core

fix: add '.bashrc.d/devtool' to backup exclusion list
  scripts/bin/backup.sh
Labels: none

chore: mv .bashrc.d/*.sh to .bashrc.d/devtools/*.sh (#350)
  Dockerfile
  scripts/bin/backup.sh
Labels: core

Update ARG variables and add build metadata script
  Dockerfile
Labels: core

Update Dockerfile
  Dockerfile
Labels: core

Update build.yml
  .github/workflows/build.yml
Labels: github_actions

Update Dockerfile
  Dockerfile
Labels: core

chore: Update ARG variables and add build metadata script (#352)
  .github/workflows/build.yml
  Dockerfile
Labels: core, github_actions

chore: asdf to mise
  .tool-versions
  Dockerfile
  mise.toml
  renovate.json
Labels: core, renovate

chore: off debug
  Dockerfile
Labels: core

chore: move dprint to mise.toml
  Dockerfile
  mise.toml
Labels: core

chore: add dotter, lefthook
  mise.toml
Labels: none

chore: add claude-code, podman
  Dockerfile
  mise.toml
Labels: core

chore: asdf to mise (#353)
  .tool-versions
  Dockerfile
  mise.toml
  renovate.json
Labels: core, renovate

chore: Update README.md
  README.md
Labels: documentation

chore: Update README.md (#354)
  README.md
Labels: documentation

chore: add podman-compose, uidmap
  Dockerfile
Labels: core

chore: add slirp4netns
  Dockerfile
Labels: core

chore: add podman-compose, uidmap (#355)
  Dockerfile
Labels: core

chore: Revert podman to docker engine
  Dockerfile
Labels: core

chore: .bashrc.d/devtool covert to files
  .bashrc.d/devtool/05-path.sh
  .bashrc.d/devtool/10-mise.sh
  .bashrc.d/devtool/21-devtool-wsl2.sh
  .bashrc.d/devtool/31-gitconfig-copy.sh
Labels: none

Revert podman to docker (#356)
  .bashrc.d/devtool/05-path.sh
  .bashrc.d/devtool/10-mise.sh
  .bashrc.d/devtool/21-devtool-wsl2.sh
  .bashrc.d/devtool/31-gitconfig-copy.sh
  Dockerfile
Labels: core

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - ".tool-versions"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]
